<% provide(:title, "Publicaciones") %>
<% if @publicaciones.any? || @filterrific.present? %>
  <%= form_for_filterrific @filterrific, url: "/publicaciones" do |f| %>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Título o cuerpo'
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Usuario
      </p>
      <%= f.select(
        :user_id,
        User.all.order(username: :asc).collect { |c| [c.username, c.id] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Ciudad
      </p>
      <%= f.select(
        :ciudad_id,
        @ciudades_con_publicaciones.collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Categoría
      </p>
      <%= f.select(
        :categoria_publicacion_id,
        CategoriaPublicacion.order(nombre: :asc).collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Sorted
      </p>
      <%= f.select(
        :sorted_by,
        ['vistas', 'fecha_actualizacion', 'fecha_creacion', 'puntuacion'],
        include_blank: true
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/publicaciones?filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Creada</th>
        <th>Título</th>
        <th>Cuerpo</th>
        <th>Usuario</th>
        <th>Calificaciones</th>
        <th>Ciudad</th>
        <th>Categoría</th>
        <th>Archs. (MB)</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @publicaciones.each do |publicacion| %>
        <tr>
          <td><%= publicacion.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= publicacion.titulo %></td>
          <td><%= publicacion.cuerpo.truncate(100, separator: ' ') %></td>
          <td><%= link_to(publicacion.user.username, publicacion.user) %></td>
          <td><%= publicacion.puntajes %></td>
          <td><%= publicacion.ciudad.nombre %></td>
          <td><%= publicacion.categoria_publicacion.nombre %></td>
          <td><%= (publicacion.imagenes.map(&:byte_size).sum.to_f / 1.megabyte).round 2 %></td>
          <td>
            <%= link_to publicacion_path(publicacion), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_publicacion_url(publicacion), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= button_to publicacion, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar esta publicación?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @publicaciones %>
<br>
<div class="botonera">
  <%= link_to 'Nueva Publicación', new_publicacion_path, class: 'btn btn-success' %>
</div>
