<% provide(:title, "Publicación") %>

<p>
  <strong>Título:</strong>
  <%= @publicacion.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @publicacion.cuerpo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @publicacion.user.username, @publicacion.user %>
</p>

<!--
<p>
  <strong>Cuerpo Rich:</strong>
  <%= @publicacion.cuerpo_rich %>
</p>
-->

<p>
  <strong>Puntajes:</strong>
  <%= @publicacion.puntajes %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @publicacion.ciudad.nombre %>
</p>

<%=  link_to 'Editar', edit_publicacion_path(@publicacion) %> |
<%= link_to 'Volver', publicaciones_path %>