<% provide(:title, "Publicación") %>

<p>
  <strong>Título:</strong>
  <%= @publicacion.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @publicacion.cuerpo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @publicacion.user.username, @publicacion.user %>
</p>

<!--
<p>
  <strong>Cuerpo Rich:</strong>
  <%= @publicacion.cuerpo_rich %>
</p>
-->

<p>
  <strong>Puntajes:</strong>
  <%= @publicacion.puntajes %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @publicacion.ciudad.nombre %>
</p>

<div class='multimedia'>
  <strong>Multimedia:</strong>
  <% @publicacion.imagenes.any? && @publicacion.imagenes.each_with_index do |img, i| %>
    <% case img.blob.content_type %>
    <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
      <video controls>
        <source src=<%= rails_blob_path(img) %> />
      </video>
    <% when 'image/jpg', 'image/jpeg', 'image/png' %>
      <%= image_tag(img.variant(resize_to_limit: [200,200])) %>
    <% end %>
  <% end %>
</div>

<div class="botonera">
  <%= link_to 'Editar', edit_publicacion_path(@publicacion), class: "btn btn-info" %>
  <%= link_to 'Volver', publicaciones_path, class: "btn btn-default" %>
</div>