<%= form_with(model: receta, local: true) do |form| %>
  <% if receta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receta.errors.count, "error") %> impidió que este receta se guardara:</h2>

      <ul>
        <% receta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :cuerpo %>
    <%= form.text_area :cuerpo %>
  </div>

<!--
  <div class="field">
    <%= form.label :puntaje %>
    <%= form.text_field :puntaje %>
  </div>
-->

  <div class="field">
    <%= form.label :categoria_receta_id %>
    <%= form.select :categoria_receta_id, CategoriaReceta.all.collect { |c| [c.nombre, c.id] } %>
  </div>

  <div class="multimedia">
    <% receta.imagenes.any? && receta.imagenes.each_with_index do |img, i| %>
    <div class="item_multimedia">
      <% case img.blob.content_type %>
      <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
        <video controls>
          <source src=<%= rails_blob_path(img) %> />
        </video>
      <% when 'image/jpg', 'image/jpeg', 'image/png' %>
        <%= image_tag(img.variant(resize_to_limit: [200,200])) %>
      <% end %>
      <div>
        <%= label :Eliminar, "Eliminar", class: "inline alert"%>
        <%= check_box_tag "remove_imagenes[#{i}]", rails_blob_path(img) %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :imagenes %>
    <%= form.file_field :imagenes, multiple: true, class: :input, accept: 'image/png,image/gif,image/jpeg,video/mp4,video/mpg,video/mpeg' %>
  </div>

  <div class="actions">
    <%= form.submit :Guardar %>
  </div>
<% end %>
