<% provide(:title, "Recetas") %>

<% if @recetas.any? || @filterrific.present? %>
  <%= form_for_filterrific @filterrific, url: "/recetas" do |f| %>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Título o cuerpo'
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Categoría
      </p>
      <%= f.select(
        :categoria_receta_id,
        CategoriaReceta.all.collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/recetas?filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
  <% end %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Cuerpo</th>
        <th>Usuario</th>
        <th>Puntaje</th>
        <th>Categoria receta</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recetas.each do |receta| %>
        <tr>
          <td><%= receta.titulo %></td>
          <td><%= receta.cuerpo %></td>
          <td><%= link_to(receta.user.username, receta.user) %></td>
          <td><%= receta.puntajes %></td>
          <td><%= receta.categoria_receta.nombre %></td>
          <td><%= link_to 'Ver', receta %></td>
          <td><%= link_to 'Editar', edit_receta_path(receta) %></td>
          <td><%= link_to 'Eliminar', receta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @recetas %>

<br>

<div class="botonera">
  <%= link_to 'Nueva Receta', new_receta_path, class: "btn btn-success" %>
</div>