<% provide(:title, "Receta") %>
<% provide(:og_title, "Receta: #{@receta.titulo}") %>
<% provide(:og_description,
            @receta.
              introduccion&.
              truncate(100, separator: ' ')
          ) %>
<% provide(:og_image, @og_image_url) %>

<div class="content-show">

  <%= render 'shared/share_buttons' %>

  <div class="cabecera">
    <div class="imagen-fondo"></div>
    <div class="creador">
      <p>
        <% if @current_user&.admin? %>
          <%= link_to "@#{@receta.user.username}", @receta.user %>
        <% else %>
          <%= "@#{@receta.user.username}" %>
        <% end %>
      </p>
      <div class="image-container">
        <% if @receta.user.avatar.attached? %>
          <%= image_tag(@receta.user.avatar.variant(resize_to_limit: [WEB_THUMB_SIZE, WEB_THUMB_SIZE]), class: "avatar") %>
        <% else %>
          <%= image_tag("/images/unknown.png", class: "avatar") %>
        <% end %>
      </div>
    </div>
    <div class="titulo">
      <p>
        <%= @receta.titulo %>
      </p>
    </div>
    <% unless @puntaje_prom.nil? %>
      <div class="puntaje">
        <div class="estrellas">
          <% @puntaje_prom.ceil.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @puntaje_prom.ceil).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
        <div class="votos">
          <span class="promedio">
            <%= @puntaje_prom %>
          </span>
          <span class="cant_votos">
            (<%= @receta.puntajes.count %>
            <i class="fas fa-user"></i>)
          </span>
        </div>
        </div>
    <% end %>
  </div>

  <% unless @receta.cuerpo.blank? %>
    <p>
      <p class='strong'>Cuerpo</p>
      <%= @receta.cuerpo %>
    </p>
  <% end %>

  <% unless @receta.introduccion.blank? %>
    <p>
      <p class='strong'>Introducción</p>
      <%= @receta.introduccion %>
    </p>
  <% end %>

  <% unless @receta.ingredientes.blank? %>
    <p>
      <p class='strong'>Ingredientes</p>
      <%= @receta.ingredientes %>
    </p>
  <% end %>

  <% unless @receta.instrucciones.blank? %>
    <p>
      <p class='strong'>Instrucciones</p>
      <%= @receta.instrucciones %>
    </p>
  <% end %>

  <% if @current_user&.admin? %>
    <div class="texto-compartir">
      <%= render 'shared/nota_admin' %>
      <p class='strong'>Texto para compartir:</p>
      <h4><%= @receta.titulo %></h4>
        <% unless @receta.cuerpo.blank? %>
        <p><%= @receta.cuerpo %></p>
      <% end %>
      <% unless @receta.introduccion.blank? %>
        <h5>Introdución</h5>
        <p><%= @receta.introduccion %></p>
      <% end %>
      <% unless @receta.ingredientes.blank? %>
        <h5>Ingredientes</h5>
        <p><%= @receta.ingredientes %></p>
      <% end %>
      <% unless @receta.instrucciones.blank? %>
        <h5>Instrucciones</h5>
        <p><%= @receta.instrucciones %></p>
      <% end %>
      <p>
        Mirá esta receta: <%= link_to(ARRANCANDO_URL+'/recetas/'+@receta.id.to_s, ARRANCANDO_URL+'/recetas/'+@receta.id.to_s)%>
      </p>
      <p>
      Si todavía no te descargaste Arrancando podés hacerlo:
      <ul>
        <li>
          Para Android desde
          <%= link_to(ANDROID_DOWNLOAD_URL, ANDROID_DOWNLOAD_URL) %>
        </li>
        <li>
          Para iOS desde
          <%= link_to(IOS_DOWNLOAD_URL, IOS_DOWNLOAD_URL) %>
        </li>
      </ul>
      </p>
    </div>

    <p>
      <%= render 'shared/nota_admin' %>
      <strong>Habilitada:</strong>
      <%= @receta.habilitado? ? "Sí" : "No" %>
    </p>

    <p>
      <%= render 'shared/nota_admin' %>
      <strong>Puntajes:</strong>
      <ul>
        <% @receta.puntajes.each do |punt| %>
          <li>
            @<%= User.find(punt[0]).username %>: <%= punt[1]%>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <strong>Categoría:</strong>
    <%= @receta.categoria_receta.nombre %>
  </p>


  <div class='multimedia'>
    <!-- <strong>Multimedia:</strong> -->
    <% @receta.imagenes.any? && @receta.imagenes.each_with_index do |img, i| %>
      <% case img.blob.content_type %>
      <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
        <video controls>
          <source src=<%= asset_url_for(img, device: 'web') %> />
        </video>
      <% when "image/jpg", "image/jpeg", "image/png", "image/gif" %>
        <%= image_tag(asset_url_for(img, device: 'web')) %>
      <% end %>
    <% end %>
  </div>

  <div class="comentarios">
    <ul>
      <% @receta.comentarios.each do |comment| %>
        <li>
          <div class="image-container">
            <% if comment.user.avatar.attached? %>
              <%= image_tag(comment.user.avatar.variant(resize_to_limit: [WEB_COMMENT_THUMB_SIZE, WEB_COMMENT_THUMB_SIZE]), class: "avatar") %>
            <% else %>
              <%= image_tag("/images/unknown.png", class: "avatar") %>
            <% end %>
          </div>
          <div class="cuerpo_comment">
            <p class="user">
              @<%= comment.user.username %>
            </p>
            <p class="mensaje">
              <%= comment.mensaje %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<% if @current_user&.admin? %>
  <div class="botonera">
    <%= link_to 'Editar', edit_receta_path(@receta), class: "btn btn-info" %>
    <%= link_to 'Volver', recetas_path, class: "btn btn-default" %>
  </div>
<% end %>