<% provide(:title, "Receta") %>

<p>
  <strong>Título:</strong>
  <%= @receta.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @receta.cuerpo %>
</p>

<div class="user-info">
  <p>
    <strong>Autor:</strong>
    <%= link_to @receta.user.username, @receta.user %>
  </p>
  <%= @receta.user.avatar.attached? ? image_tag(@receta.user.avatar.variant(resize_to_limit: [120, 120])) : nil %>
</div>

<p>
  <strong>Categoría:</strong>
  <%= @receta.categoria_receta.nombre %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @receta.puntajes %>
</p>

<div class='multimedia'>
  <strong>Multimedia:</strong>
  <% @receta.imagenes.any? && @receta.imagenes.each_with_index do |img, i| %>
    <% case img.blob.content_type %>
    <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
      <video controls>
        <source src=<%= url_for(img) %> />
      </video>
    <% when 'image/jpg', 'image/jpeg', 'image/png' %>
      <%= image_tag(img.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB,MAX_IMAGE_HEIGHT_WEB])) %>
    <% end %>
  <% end %>
</div>

<div class="botonera">
  <%= link_to 'Editar', edit_receta_path(@receta), class: "btn btn-info" %>
  <%= link_to 'Volver', recetas_path, class: "btn btn-default" %>
</div>