<% provide(:title, "Receta") %>

<p>
  <strong>Título:</strong>
  <%= @receta.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @receta.cuerpo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @receta.user.username, @receta.user %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @receta.categoria_receta.nombre %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @receta.puntajes %>
</p>

<p>
  <strong>Categoria receta:</strong>
  <%= @receta.categoria_receta_id %>
</p>

<%=  link_to 'Editar', edit_receta_path(@receta) %> |
<%= link_to 'Volver', recetas_path %>