<% provide(:title, "Receta") %>

<p>
  <strong>Título:</strong>
  <%= @receta.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @receta.cuerpo %>
</p>

<p>
  <strong>Introducción:</strong>
  <%= @receta.introduccion %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @receta.ingredientes %>
</p>

<p>
  <strong>Instrucciones:</strong>
  <%= @receta.instrucciones %>
</p>

<div>
  <strong>Texto para compartir:</strong>
  <p>
  Mirá esta receta: <%= link_to(ARRANCANDO_URL+'/recetas/'+@receta.id.to_s, ARRANCANDO_URL+'/recetas/'+@receta.id.to_s)%>
  </p>
  <h3><%= @receta.titulo %></h3>
  <% unless @receta.cuerpo.blank? %>
    <p><%= @receta.cuerpo %></p>
  <% end %>
  <% unless @receta.introduccion.blank? %>
    <h4>Introdución</h4>
    <p><%= @receta.introduccion %></p>
  <% end %>
  <% unless @receta.ingredientes.blank? %>
    <h4>Ingredientes</h4>
    <p><%= @receta.ingredientes %></p>
  <% end %>
  <% unless @receta.instrucciones.blank? %>
    <h4>Instrucciones</h4>
    <p><%= @receta.instrucciones %></p>
  <% end %>
  <p>
  Si todavía no te descargaste Arrancando podés hacerlo:
  <ul>
    <li>
      Para Android desde
      <%= link_to(ANDROID_DOWNLOAD_URL, ANDROID_DOWNLOAD_URL) %>
    </li>
    <li>
      Para iOS desde
      <%= link_to(IOS_DOWNLOAD_URL, IOS_DOWNLOAD_URL) %>
    </li>
  </ul>
  </p>
</div>


<div class="user-info">
  <p>
    <strong>Autor:</strong>
    <%= link_to @receta.user.username, @receta.user %>
  </p>
  <%= @receta.user.avatar.attached? ? image_tag(@receta.user.avatar.variant(resize_to_limit: [120, 120])) : nil %>
</div>

<p>
  <strong>Habilitada:</strong>
  <%= @receta.habilitado? ? "Sí" : "No" %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @receta.categoria_receta.nombre %>
</p>

<p>
  <strong>Puntajes:</strong>
  <ul>
    <% @receta.puntajes.each do |punt| %>
      <li>
        @<%= User.find(punt[0]).username %>: <%= punt[1]%>
      </li>
    <% end %>
  </ul>
</p>

<div class='multimedia'>
  <strong>Multimedia:</strong>
  <% @receta.imagenes.any? && @receta.imagenes.each_with_index do |img, i| %>
    <% case img.blob.content_type %>
    <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
      <video controls>
        <source src=<%= asset_url_for(img, device: 'web') %> />
      </video>
    <% when "image/jpg", "image/jpeg", "image/png", "image/gif" %>
      <%= image_tag(asset_url_for(img, device: 'web')) %>
    <% end %>
  <% end %>
</div>

<div class="botonera">
  <%= link_to 'Editar', edit_receta_path(@receta), class: "btn btn-info" %>
  <%= link_to 'Volver', recetas_path, class: "btn btn-default" %>
</div>