<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> impidió que este user se guardara:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Rol" %>
    <%= form.select :rol, User.roles.collect { |k, v| [k.capitalize, k] } %>
  </div>

  <div class="field">
    <%= form.label "Username" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label "Nombre(s)" %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label "Apellido" %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label "Activo" %>
    <%= form.check_box :activo %>
  </div>


  <div class="multimedia">
    <% if user.avatar.attached?  %>
      <div class="item_multimedia">
        <% case user.avatar.blob.content_type %>
        <% when 'image/jpg', 'image/jpeg', 'image/png' %>
          <%= image_tag(user.avatar.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB,MAX_IMAGE_HEIGHT_WEB])) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: :input, accept: 'image/png,image/jpeg,image/jpg' %>
  </div>

  <div class="actions">
    <%= form.submit :Guardar, class: "btn btn-success" %>
  </div>
<% end %>
