<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> impidió que este user se guardara:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Rol" %>
    <%= form.select :rol, User.roles.collect { |k, v| [k.capitalize, v] } %>
  </div>

  <div class="field">
    <%= form.label "Nombre(s)" %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label "Apellido" %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label "Username" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_field :telefono %>
  </div>

  <div class="actions">
    <%= form.submit :Guardar, class: "btn btn-success" %>
  </div>
<% end %>
