<% provide(:title, "Usuarios") %>
<%# if @users.any? || @filterrific.search_query.present? %>
<%= form_for_filterrific @filterrific, url: "/users?rol=#{@rol}" do |f| %>
  <% if false %>
    <div>
      <p class='etiqueta'>
        Rol
      </p>
      <%= f.select(
      :rol,
        User.roles.collect { |c| [c[0].capitalize, c[1]] },
        include_blank: true
      ) %>
    </div>
  <% end %>
  <div>
    <p class='etiqueta'>
      Buscar
    </p>
    <%= f.text_field(
        :search_query,
        placeholder: 'Username, nombre, apellido'
      ) %>
  </div>
  <div>
    <p class='etiqueta'>
      Ciudad
    </p>
    <%= f.select(
        :ciudad_id,
        Ciudad.joins(:users).distinct.order(nombre: :asc).collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
  </div>
  <div>
    <p class='etiqueta'>
      Versión app
    </p>
    <%= f.select(
        :app_version,
        User.select(:app_version).distinct.pluck(:app_version).filter{ |q| !q.nil? },
        include_blank: true
      ) %>
  </div>
  <div>
    <p class='etiqueta'>
      Plataforma
    </p>
    <%= f.select(
        :platform,
        User.select(:platform).distinct.pluck(:platform).filter{ |q| !q.nil? },
        include_blank: true
      ) %>
  </div>
  <div>
    <p class='etiqueta'>
      Ordenar
    </p>
    <%= f.select(
        :sorted_by,
        @filterrific.select_options[:sorted_by],
        { include_blank: true },
        {}
      ) %>
  </div>
  <div id="aplicar_filtros">
    <%= f.submit 'Aplicar', class: 'btn btn-success' %>
  </div>
  <div id="borrar_filtros">
    <%= link_to(
        'Borrar',
        "/users?rol=#{@rol}&filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
  </div>
  <%# render_filterrific_spinner %>
<% end %>
<%# end %>
<% if @users.any? %>
  <div id="botonera">
    <% unless @users.empty? %>
      <% query_sep = request.original_url.last(5) == 'users' ? '?' : '&' %>
      <%= link_to "#{request.original_url}#{query_sep}format=xls", class: 'btn btn-info' do %>
        <i class='fa fa-users'></i>Exportar
      <% end %>
      <%= link_to new_notificacion_path(params: {user_ids: @user_ids}), class: 'btn btn-info' do %>
        <i class='fa fa-mobile'></i>Enviar notificación
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ávatar</th>
        <th>Username</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ciudad</th>
        <th>Activo</th>
        <th>Rank mensual</th>
        <th>Rank histórico</th>
        <th>Última act.</th>
        <th>Plataforma</th>
        <th>Versión app</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= begin
              (user.avatar.attached? &&
                  user.avatar.blob.content_type.in?(PERMITTED_IMAGE_TYPES)) ?
                  image_tag(user.avatar.variant(resize_to_limit:
                    [70, 70]).processed) :
                  nil
          rescue ActionView::Template::Error
                  nil
          end
          %>
          </td>
          <td><%= user.username %></td>
          <td><%= user.nombre %></td>
          <td><%= user.apellido %></td>
          <td><%= user.ciudad.nombre_con_provincia %></td>
          <td><%= user.activo? ? "Sí" : "No" %></td>
          <td><%= user.rank_mensual %>°</td>
          <td><%= user.rank %>°</td>
          <td style="font-style: italic;"><%= !user.last_seen_at.nil? ? user.last_seen_at.strftime("%d-%m-%Y %H:%M hs") : '' %></td>
          <td style="font-style: italic;"><%= user.platform %></td>
          <td style="font-style: italic;"><%= user.app_version %></td>
          <td>
            <%= link_to user_path(user), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_user_url(user), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= button_to user, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar este usuario?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% begin %>
  <%= paginate @users %>
  <% rescue %>
<% end %>
<div id="user_count">
  <h4>Hay <%= User.count %> usuarios registrados en Arrancando.</h4>
  <p>¡Dale que cada vez somos más amantes del asado!</p>
</div>
<br>
<!--
<div class="botonera">
  <%= link_to 'Nuevo Usuario', new_user_path, class: "btn btn-success"%>
</div>
-->
