<% provide(:title, "Usuarios") %>

<% if @users.any? || @filterrific.search_query.present? %>
  <%= form_for_filterrific @filterrific, url: "/users?rol=#{@rol}" do |f| %>
    <div>
      <p class='etiqueta'>
        Rol
      </p>
    <%= f.select(
        :rol,
        User.roles.collect { |c| [c[0].capitalize, c[1]] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Username, nombre, apellido'
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/users?rol=#{@rol}&filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
    <%# render_filterrific_spinner %>
  <% end %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Activo</th>
        <th>Admin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.avatar.attached? ?
                  image_tag(user.avatar.variant(resize_to_limit:
                    [70, 70])) :
                  nil %>
          </td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.nombre %></td>
          <td><%= user.apellido %></td>
          <td><%= user.activo? ? "Sí" : "No" %></td>
          <td><%= user.admin? ? "Sí" : "No" %></td>
          <td>
            <%= link_to user_path(user), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_user_url(user), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
            </td>
          <td>
            <%= button_to user, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar este usuario?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<!--
<div class="botonera">
  <%= link_to 'Nuevo Usuario', new_user_path, class: "btn btn-success"%>
</div>
-->