<% provide(:title, "Usuario") %>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="row-sm-2">Nombre</th>
        <td><%= @user.nombre %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Apellido</th>
        <td><%= @user.apellido %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Username</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Activo</th>
        <td><%= @user.activo? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Admin</th>
        <td><%= @user.admin? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Última actividad</th>
        <td><%= !@user.last_seen_at.nil? ? @user.last_seen_at.strftime("%d-%m-%Y %H:%M hs") : ''  %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Avatar</th>
        <td><%= @user.avatar.attached? ? image_tag(@user.avatar.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB, MAX_IMAGE_HEIGHT_WEB])) : nil %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="botonera">
  <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-info" %>
  <%= link_to 'Volver', users_path, class: "btn btn-default" %>
</div>