<% provide(:title, "Usuario") %>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="row-sm-2">Nombre</th>
        <td><%= @user.nombre %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Apellido</th>
        <td><%= @user.apellido %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Username</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Ciudad</th>
        <td><%= @user.ciudad.nombre_con_provincia %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Activo</th>
        <td><%= @user.activo? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Rankeable</th>
        <td><%= @user.rankeable? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Subidas ilimitadas</th>
        <td><%= @user.unlim_upload? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Admin</th>
        <td><%= @user.admin? ? "Sí" : "No" %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Última actividad</th>
        <td><%= !@user.last_seen_at.nil? ? @user.last_seen_at.strftime("%d-%m-%Y %H:%M hs") : ''  %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Versión app</th>
        <td><%= @user.app_version %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Plataforma</th>
        <td><%= @user.platform %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Avatar</th>
        <td><%= @user.avatar.attached? ? image_tag(@user.avatar.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB, MAX_IMAGE_HEIGHT_WEB])) : nil %></td>
      </tr>
      <tr>
        <th class="row-sm-2">Ranking mensual</th>
        <td><%= @user.rank_mensual %>°</td>
      </tr>
      <tr>
        <th class="row-sm-2">Ranking histórico</th>
        <td><%= @user.rank %>°</td>
      </tr>
      <tr>
        <th class="row-sm-2">Puntaje mensual</th>
        <td><%= @user.puntaje_mensual %><i class="fa fa-star"></i></td>
      </tr>
      <tr>
        <th class="row-sm-2">Puntaje histórico</th>
        <td><%= @user.puntaje %><i class="fa fa-star"></i></td>
      </tr>
      <tr>
        <th class="row-sm-2">Publicaciones creadas</th>
        <td>
          <%= @user.publicaciones.count %>
            <%= link_to publicaciones_path(filterrific: { user_id: @user.id }), class: "btn btn-xs btn-success btn-in-table" do %>
              <i class="fa fa-eye"></i>
            <% end %>
        </td>
      </tr>
      <tr>
        <th class="row-sm-2">Recetas creadas</th>
        <td>
          <%= @user.recetas.count %>
            <%= link_to recetas_path(filterrific: { user_id: @user.id }), class: "btn btn-xs btn-success btn-in-table" do %>
              <i class="fa fa-eye"></i>
            <% end %>
        </td>
      </tr>
      <tr>
        <th class="row-sm-2">PoIs creados</th>
        <td>
          <%= @user.pois.count %>
            <%= link_to pois_path(filterrific: { user_id: @user.id }), class: "btn btn-xs btn-success btn-in-table" do %>
              <i class="fa fa-eye"></i>
            <% end %>
        </td>
      </tr>
      <tr>
        <th class="row-sm-2">Comentarios hechos</th>
        <td><%= @user.comentarios %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="botonera">
  <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-info" %>
  <%= link_to 'Volver', users_path, class: "btn btn-default" %>
</div>