<%= form_with(model: comentario_receta, local: true) do |form| %>
  <% if comentario_receta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario_receta.errors.count, "error") %>  impidió que este comentario se guardara:</h2>

      <ul>
        <% comentario_receta.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receta_id %>
    <%= form.text_field :receta_id %>
  </div>

  <div class="field">
    <%= form.label :mensaje %>
    <%= form.text_area :mensaje %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-success' %>
  </div>
<% end %>
