<p id="notice"><%= notice %></p>

<h1>Comentario Recetas</h1>

<table>
  <thead>
    <tr>
      <th>Receta</th>
      <th>User</th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentario_recetas.each do |comentario_receta| %>
      <tr>
        <td><%= comentario_receta.receta_id %></td>
        <td><%= comentario_receta.user_id %></td>
        <td><%= comentario_receta.mensaje %></td>
        <td><%= link_to 'Show', comentario_receta %></td>
        <td><%= link_to 'Edit', edit_comentario_receta_path(comentario_receta) %></td>
        <td><%= link_to 'Destroy', comentario_receta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario Receta', new_comentario_receta_path %>
