<% provide(:title, "Comentarios de Recetas") %>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Receta</th>
        <th>Usuario</th>
        <th>Mensaje</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comentario_recetas.each do |comentario_receta| %>
        <tr>
          <td><%= link_to comentario_receta.receta.titulo, comentario_receta.receta %></td>
          <td><%= comentario_receta.user.username %></td>
          <td><%= comentario_receta.mensaje %></td>
          <td>
            <%= link_to comentario_receta_path(comentario_receta), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_comentario_receta_url(comentario_receta), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= button_to comentario_receta, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar este comentario?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @comentario_recetas %>

<%# link_to 'Nuevo Comentario', new_comentario_receta_path %>
