<p id="notice"><%= notice %></p>

<h1>Comentario Publicaciones</h1>

<table>
  <thead>
    <tr>
      <th>Publicacion</th>
      <th>User</th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentario_publicaciones.each do |comentario_publicacion| %>
      <tr>
        <td><%= comentario_publicacion.publicacion_id %></td>
        <td><%= comentario_publicacion.user_id %></td>
        <td><%= comentario_publicacion.mensaje %></td>
        <td><%= link_to 'Show', comentario_publicacion %></td>
        <td><%= link_to 'Edit', edit_comentario_publicacion_path(comentario_publicacion) %></td>
        <td><%= link_to 'Destroy', comentario_publicacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario Publicacion', new_comentario_publicacion_path %>
