<% provide(:title, "Ciudades") %>

<% unless @ciudades_alert.empty? %>
  <div class='ciudades_alert'>
    <h3>Ciudades con usuarios activos y sin popular:</h3>
    <ul>
    <% @ciudades_alert.each do |ciudad| %>
      <li>
        <%= ciudad[0] %>
        (id: <%= ciudad[1] %>)
      </li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @ciudades.any? || @filterrific.present? %>
  <%= form_for_filterrific @filterrific, url: "/ciudades" do |f| %>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Nombre'
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Provincia
      </p>
      <%= f.select(
        :provincia_id,
        Provincia.order(nombre: :asc).collect { |c| [c.nombre_con_pais, c.id] },
        include_blank: true
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/ciudades?filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
  <% end %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Provincia</th>
        <th>Usuarios activos</th>
        <th>Publicaciones</th>
        <th>Populada (PoIs agregados por un admin)</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @ciudades.each do |ciudad| %>
        <tr>
          <td style="font-style: italic; font-size: 90%;"><%= ciudad.id %></td>
          <td><%= ciudad.nombre %></td>
          <td><%= ciudad.provincia.nombre %></td>
          <td><%= ciudad.users.count %></td>
          <td><%= ciudad.publicaciones.count %></td>
          <td><%= ciudad.populada? ? "Sí" : "No" %></td>
          <td>
            <%= link_to ciudad_path(ciudad), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_ciudad_url(ciudad), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @ciudades %>

<br>

<div class="botonera">
  <%= link_to 'Nueva Ciudad', new_ciudad_path, class: 'btn btn-success' %>
</div>

