<% provide(:title, "Provincias") %>

<% if @provincias.any? || @filterrific.present? %>
  <%= form_for_filterrific @filterrific, url: "/provincias" do |f| %>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Nombre'
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        País
      </p>
      <%= f.select(
        :pais_id,
        Pais.order(nombre: :asc).collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/provincias?filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
  <% end %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>País</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @provincias.each do |provincia| %>
      <tr>
        <td style="font-style: italic; font-size: 90%;"><%= provincia.id %></td>
        <td><%= provincia.nombre %></td>
        <td><%= provincia.pais.nombre %></td>
        <td>
          <%= link_to edit_provincia_url(provincia), class: "btn btn-xs btn-info" do %>
            <i class="fa fa-pencil-alt"></i>
          <% end %>
        </td>
        <td>
          <%= button_to provincia, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar esta provincia?" } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @provincias %>

<div class="botonera">
  <%= link_to 'Nueva Provincia', new_provincia_path, class: "btn btn-success" %>
</div>
