<%= form_with(model: poi, local: true) do |form| %>
  <% if poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poi.errors.count, "error") %> impidió que este Poi se guardara:</h2>

      <ul>
        <% poi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :cuerpo %>
    <%= form.text_area :cuerpo %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <div class="field">
    <%= form.label 'Categoría' %>
    <%= form.select :categoria_poi_id, CategoriaPoi.all.collect { |c| [c.nombre, c.id] } %>
  </div>

  <!--
  <div class="field">
    <%= form.label :puntaje %>
    <%= form.text_field :puntaje %>
  </div>
  -->

  <div class="multimedia">
    <% poi.imagenes.any? && poi.imagenes.each_with_index do |img, i| %>
    <div class="item_multimedia">
      <% case img.blob.content_type %>
      <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
        <video controls>
          <source src=<%= url_for(img.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB,MAX_IMAGE_HEIGHT_WEB])) %> />
        </video>
      <% when 'image/jpg', 'image/jpeg', 'image/png' %>
        <%= image_tag(img.variant(resize_to_limit: [MAX_IMAGE_WIDTH_WEB,MAX_IMAGE_HEIGHT_WEB])) %>
      <% end %>
      <div>
        <%= label :Eliminar, "Eliminar", class: "inline alert"%>
        <%= check_box_tag "remove_imagenes[#{i}]", rails_blob_path(img) %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label 'Imágenes' %>
    <%= form.file_field :imagenes, multiple: true, class: :input, accept: 'image/png,image/gif,image/jpeg,video/mp4,video/mpg,video/mpeg'%>
  </div>


  <div class="actions">
    <%= form.submit :Guardar, class: "btn btn-success" %>
  </div>
<% end %>
