<% provide(:title, "Pois") %>
<% if @pois.any? || @filterrific.present? %>
  <%= form_for_filterrific @filterrific, url: "/pois" do |f| %>
    <div>
      <p class='etiqueta'>
        Buscar
      </p>
      <%= f.text_field(
        :search_query,
        placeholder: 'Título o cuerpo'
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Ciudad
      </p>
      <%= f.select(
        :ciudad_id,
        @ciudades_con_pois.collect { |c| [c.nombre_con_provincia, c.id] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Usuario
      </p>
      <%= f.select(
        :user_id,
        User.all.order(username: :asc).collect { |c| [c.username, c.id] },
        include_blank: true
      ) %>
    </div>
    <div>
      <p class='etiqueta'>
        Categoría
      </p>
      <%= f.select(
        :categoria_poi_id,
        CategoriaPoi.all.order(nombre: :asc).collect { |c| [c.nombre, c.id] },
        include_blank: true
      ) %>
    </div>
    <div id="aplicar_filtros">
      <%= f.submit 'Aplicar', class: 'btn btn-success' %>
    </div>
    <div id="borrar_filtros">
      <%= link_to(
        'Borrar',
        "/pois?filterrific[search_query]= ",
        class: 'btn btn-warning'
      ) %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Creado</th>
        <th>Título</th>
        <th>Cuerpo</th>
        <th>Usuario</th>
        <th>Categoría</th>
        <th>Lat</th>
        <th>Long</th>
        <th>Ciudad</th>
        <th>Calificaciones</th>
        <th>Archs. (MB)</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @pois.each do |poi| %>
        <tr>
          <td><%= poi.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= poi.titulo %></td>
          <td><%= poi.cuerpo.truncate(100, separator: ' ') %></td>
          <td><%= link_to(poi.user.username, poi.user) %></td>
          <td><%= poi.categoria_poi.nombre %></td>
          <td><%= poi.lat %></td>
          <td><%= poi.long %></td>
          <td><%= poi.ciudad.nombre %></td>
          <td><%= poi.puntajes %></td>
          <td><%= (poi.imagenes.map(&:byte_size).sum.to_f / 1.megabyte).round 2 %></td>
          <td>
            <%= link_to poi_path(poi), class: "btn btn-xs btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_poi_url(poi), class: "btn btn-xs btn-info" do %>
              <i class="fa fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= button_to poi, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de que desea eliminar esta tienda?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @pois %>
<br>
<div class="botonera">
  <%= link_to 'Nuevo Poi', new_poi_path, class: "btn btn-success" %>
</div>
