<% provide(:title, "Pois") %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Puntaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pois.each do |poi| %>
      <tr>
        <td><%= poi.titulo %></td>
        <td><%= poi.cuerpo %></td>
        <td><%= poi.lat %></td>
        <td><%= poi.long %></td>
        <td><%= poi.puntajes %></td>
        <td><%= link_to 'Ver', poi %></td>
        <td><%=  link_to 'Editar', edit_poi_path(poi) %></td>
        <td><%= link_to 'Destroy', poi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poi', new_poi_path %>
