<% provide(:title, "Punto de interés") %>
<% provide(:og_title, "Punto de interés: #{@poi.titulo}") %>
<% provide(:og_description,
            @poi.
              cuerpo.
              truncate(100, separator: ' ')
          ) %>
<% provide(:og_image, @og_image_url) %>
<div class="content-show">
  <%= render 'shared/share_buttons' %>
  <div class="cabecera">
    <div class="imagen-fondo"></div>
    <div class="creador">
      <p>
        <% if @current_user&.admin? %>
          <%= link_to "@#{@poi.user.username}", @poi.user %>
        <% else %>
          <%= "@#{@poi.user.username}" %>
        <% end %>
      </p>
      <div class="image-container">
        <% if @poi.user.avatar.attached? %>
          <%= image_tag(@poi.user.avatar.variant(resize_to_limit: [WEB_THUMB_SIZE, WEB_THUMB_SIZE]), class: "avatar") %>
        <% else %>
          <%= image_tag("/images/unknown.png", class: "avatar") %>
        <% end %>
      </div>
    </div>
    <div class="titulo">
      <p>
        <%= @poi.titulo %>
      </p>
    </div>
    <% unless @puntaje_prom.nil? %>
      <div class="puntaje">
        <div class="estrellas">
          <% @puntaje_prom.ceil.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @puntaje_prom.ceil).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
        <div class="votos">
          <span class="promedio">
            <%= @puntaje_prom %>
          </span>
          <span class="cant_votos">
            (<%= @poi.puntajes.count %>
            <i class="fas fa-user"></i>)
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <% unless @poi.cuerpo.blank? %>
    <p>
      <p class='strong'>Cuerpo</p>
      <p class="contains_newlines">
        <%= Rinku.auto_link(@poi.cuerpo, mode=:urls, 'target="_blank"').html_safe %>
      </p>
    </p>
  <% end %>
  <% if @current_user&.admin? %>
    <%# render 'texto_compartir' %>
    <p>
      <%= render 'shared/nota_admin' %>
      <strong>Habilitada:</strong>
      <%= @poi.habilitado? ? "Sí" : "No" %>
    </p>
    <p>
      <%= render 'shared/nota_admin' %>
      <strong>Puntajes:</strong>
      <ul>
        <% @poi.puntajes.each do |punt| %>
          <li>
            @<%= User.find_by_id(punt[0]) ?
                  User.find(punt[0]).username :
                  'Usuario eliminado' %>
            : <%= punt[1]%>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>
  <p>
    <strong>Whatsapp:</strong>
    <%= link_to "+#{@poi.whatsapp}", "https://wa.me/#{@poi.whatsapp}?text=Hola%2C%20los%20vi%20en%20Arrancando%20y%20quer%C3%ADa%20comunicarme%20directamente%20con%20ustedes." %>
  </p>
  <p>
    <strong>Latitud:</strong>
    <%= @poi.lat %>
  </p>
  <p>
    <strong>Longitud:</strong>
    <%= @poi.long %>
  </p>
  <% if @current_user&.admin? %>
    <p>
      <strong>Vistas:</strong>
      <%= @poi.vistas %>
    </p>
  <% end %>
  <p>
    <strong>Ciudad:</strong>
    <%= @poi.ciudad.nombre_con_provincia %>
  </p>
  <p>
    <strong>Categoría:</strong>
    <%= @poi.categoria_poi.nombre %>
  </p>
  <% if @current_user&.admin? %>
    <strong>Tamaño total de archivos:</strong>
    <%= (@total_attachment_size.to_f / 1.megabyte).round 2 %> MB
  <% end %>
  <div class='multimedia'>
    <% @poi.imagenes.any? && @poi.imagenes.each_with_index do |img, i| %>
      <% case img.blob.content_type %>
      <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
      <video controls>
        <source src=<%= asset_url_for(img, device: 'web') %> />
      </video>
      <% when "image/jpg", "image/jpeg", "image/png", "image/gif" %>
      <%= image_tag(asset_url_for(img, device: 'web')) %>
    <% end %>
  <% end %>
</div>
<% if @current_user&.admin? %>
  <div class="botonera">
    <%= link_to 'Editar', edit_poi_path(@poi), class: "btn btn-info" %>
    <%= link_to 'Volver', pois_path, class: "btn btn-default" %>
  </div>
<% end %>
