<% provide(:title, "Poi") %>

<p>
  <strong>Título:</strong>
  <%= @poi.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @poi.cuerpo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @poi.user.username, @poi.user %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @poi.categoria_poi.nombre %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @poi.lat %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @poi.long %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @poi.puntajes %>
</p>

<div class='multimedia'>
  <strong>Multimedia:</strong>
  <% @poi.imagenes.any? && @poi.imagenes.each_with_index do |img, i| %>
    <% case img.blob.content_type %>
    <% when 'video/mp4', 'video/mpg', 'video/mpeg' %>
      <video controls>
        <source src=<%= rails_blob_path(img) %> />
      </video>
    <% when 'image/jpg', 'image/jpeg', 'image/png' %>
      <%= image_tag(img.variant(resize_to_limit: [200,200])) %>
    <% end %>
  <% end %>
</div>

<%=  link_to 'Editar', edit_poi_path(@poi) %> |
<%= link_to 'Volver', pois_path %>
