<!DOCTYPE html>
<html>
  <head>
    <title>Arrancando</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <h1 class="title">
      <%= content_for?(:title) ? yield(:title) : '' %>
    </h1>
    <% if notice.present? %>
        <p class='alert alert-success'>
          <%= notice %>
        </p>
    <% end %>
    <% if alert.present? %>
      <p class='alert alert-danger'>
        <%= alert %>
      </p>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
